.company-card {
  .img-container {
    img {
      display: block;
      max-width: 100%;
      width: 100px;
      height: auto;
      max-height: 100%;
    }
  }
  .car-listing {
    .listing_footer {
      display: flex;
      justify-content: center;
      a {
        padding: 8px;
        color: white;
        border-radius: 0.5rem;
        background-color: #1947e2;
        text-align: center;
      }
    }
  }
}
