*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
//sizing
.pagination-size {
  width: 42px;
  height: 42px;
}
.max-w-auto {
  max-width: auto;
}
.max-w-full {
  max-width: 100%;
}
.min-w-auto {
  min-width: auto;
}
.min-w-full {
  min-width: 100%;
}
.max-h-auto {
  max-height: auto;
}
.max-h-full {
  max-height: 100%;
}
.min-h-auto {
  min-height: auto;
}
.min-h-full {
  min-height: 100%;
}
// spacing
.mx-6 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}
.mx-7 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}
.mx-8 {
  margin-left: 10rem !important;
  margin-right: 10rem !important;
}
.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mx5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mx15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mx25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mx35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.my-7 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}
.my-8 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}
.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.my5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.my35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}
.py-8 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}
.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.py5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.py10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.py15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.px-7 {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}
.px-8 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}
.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.px10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.px35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
// line-height
.lh-auto {
  line-height: auto;
}
.lh30 {
  line-height: 30px;
}
// coloring
.bg-primary-color {
  // we have .bg-primary bootstrap class too
  background-color: var(--primary-color);
}
.text-primary-color {
  color: var(--primary-color);
}
.border-primary-color {
  border-color: var(--primary-color);
}
.bg-dark-color {
  //we have .bg-dark in bootstrap too so we use .bg-dark-color
  background-color: var(--dark-color);
}
.text-dark-color {
  color: var(--dark-color) !important;
}
.border-dark-color {
  border-color: var(--dark-color);
}
.bg-body-color {
  //in bootstrap we have .bg-body css class so we use .bg-body-color
  background-color: var(--body-color);
}
.text-body-color {
  color: var(--body-color) !important;
}
.border-body-color {
  border-color: var(--body-color);
}
.bg-lightgray2 {
  background-color: var(--lightgray2-color);
}
.text-lightgray2 {
  color: var(--lightgray2-color);
}
.border-lightgray2 {
  border-color: var(--lightgray2-color);
}
.bg-lightgray {
  background-color: var(--lightgray-color);
}
.text-lightgray {
  color: var(--lightgray-color);
}
.border-lightgray {
  border-color: var(--lightgray-color);
}
.bg-gray {
  background-color: var(--gray-color);
}
.text-gray {
  color: var(--gray-color);
}
.border-gray {
  border-color: var(--gray-color);
}
.bg-gray2 {
  background-color: var(--gray2-color);
}
.text-gray2 {
  color: var(--gray2-color);
}
.border-gray2 {
  border-color: var(--gray2-color);
}
//border
.border-none {
  border: none;
}
.border-solid {
  border-style: solid;
}
.outline-none {
  outline: none;
}
//transitions
.transition-0-2-linear {
  transition: all 0.2s linear;
}
.transition-0-2-eio {
  transition: all 0.2s ease-in-out;
}
.transition-0-5-linear {
  transition: all 0.5s linear;
}
.transition-0-5-eio {
  transition: all 0.5s ease-in-out;
}
.transition-1-linear {
  transition: all 1s linear;
}
.transition-1-eio {
  transition: all 1s ease-in-out;
}
//others
.pointer-events-none {
  pointer-events: none;
}
.overflow-hidden {
  overflow: hidden;
}
.appearance-none {
  appearance: none;
}
// custom styles
.emoji-card,
.company-card,
.industry-card {
  .listing_footer {
    display: flex;
    justify-content: center;
    .submit-action {
      padding: 8px;
      color: white;
      border-radius: 0.5rem;
      background-color: #1947e2;
      text-align: center;
    }
  }
}
input,
textarea,
select {
  &::placeholder {
    text-transform: capitalize;
    font-size: 14px;
    color: var(--body-color);
  }
}
