:root {
  --primary-color: #f5c34b;
  --dark-color: #1a3760;
  --body-color: #5f6973;
  --lightgray2-color: #eaeaea;
  --lightgray-color: #d3d3d3;
  --gray-color: gray;
  --gray2-color: #7e7e7e;
}

//bootstrap sass variables (must used before importing bootstrap/scss/bootstrap,bootstrap/scss/variables)
//here we override theme variables: (will change bootstrap classes like bg-danger,text-danger,will change any time bootstrap used $success,... inside its functionality,in .css,.scss files we have access to --bs-success css variable)
$success: #43a047;
$danger: #e53935;
$info: #1e88e5;
$warning: #ffab00;
$enable-negative-margins: true;
@import "../../node_modules/bootstrap/scss/bootstrap"; //we import all bootstrap , we could import just needed part
@import "./custom_voiture";
@import "./swiper_custom";
@import "./file_uploader";
@import "./style";
@import "./responsive.scss";
