:root {
  --primary-color: #f5c34b;
  --dark-color: #1a3760;
  --body-color: #5f6973;
  --lightgray2-color: #eaeaea;
  --lightgray-color: #d3d3d3;
  --gray-color: gray;
  --gray2-color: #7e7e7e;
}
//bootstrap sass variables (must used before importing bootstrap/scss/bootstrap,bootstrap/scss/variables)
//$primary: red; //change bootstrap primary-color
$enable-negative-margins: true;
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "./custom_voiture";
@import "./swiper_custom";
@import "./file_uploader";
@import "./style";
@import "./responsive.scss";
