.emoji-card,
.company-card,
.industry-card {
  .listing_footer {
    display: flex;
    justify-content: center;
    .submit-action {
      padding: 8px;
      color: white;
      border-radius: 0.5rem;
      background-color: #1947e2;
      text-align: center;
    }
  }
}
.filter1 {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom, transparent 0%, #0c1227 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
.card-with-filter1 {
  &:hover {
    .filter1 {
      &::before {
        opacity: 1;
      }
    }
  }
}

.pagination-size {
  padding: 8px 15px;
}
@media screen and (max-width: 750px) {
  .pagination-size {
    padding: 4px 10px;
  }
}
