.pointer-events-none {
  pointer-events: none;
}
.cursor-pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.appearance-none {
  appearance: none;
}
.border-none {
  border: none;
}
.border-solid {
  border-style: solid;
}
.outline-none {
  outline: none;
}
