.mt-6 {
  margin-top: 5rem;
}
.mx-6 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}
.mx-7 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}
.mx-8 {
  margin-left: 10rem !important;
  margin-right: 10rem !important;
}
.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mx5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mx15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mx25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mx35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.my-7 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}
.my-8 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}
.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.my5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.my35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}
.py-8 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}
.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.py5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.py10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.py15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.px-7 {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}
.px-8 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}
.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.px10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.px35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
