.fz6 {
  font-size: 6px !important;
}
.fz7 {
  font-size: 7px !important;
}
.fz8 {
  font-size: 8px !important;
}
.fz11 {
  font-size: 11px !important;
}
.fz12 {
  font-size: 12px !important;
}
.fz13 {
  font-size: 13px !important;
}
.fz14 {
  font-size: 14px !important;
}
.fz15 {
  font-size: 15px !important;
}
.fz16 {
  font-size: 16px !important;
}
.fz17 {
  font-size: 17px !important;
}
.fz18 {
  font-size: 18px !important;
}
.fz19 {
  font-size: 19px !important;
}
.fz20 {
  font-size: 20px !important;
}
.fz24 {
  font-size: 24px !important;
}
.fz26 {
  font-size: 26px !important;
}
.fz30 {
  font-size: 30px !important;
}
.fz40 {
  font-size: 40px !important;
}
.fz45 {
  font-size: 45px !important;
}
.fz48 {
  font-size: 48px !important;
}
.fz50 {
  font-size: 50px !important;
}
.fz55 {
  font-size: 55px !important;
}
.fz60 {
  font-size: 60px !important;
}
.fz72 {
  font-size: 72px !important;
}
.fz100 {
  font-size: 100px !important;
}

.lh-auto {
  line-height: auto;
}
.lh30 {
  line-height: 30px;
}
