.transition-0-2-linear {
  transition: all 0.2s linear;
}
.transition-0-2-eio {
  transition: all 0.2s ease-in-out;
}
.transition-0-5-linear {
  transition: all 0.5s linear;
}
.transition-0-5-eio {
  transition: all 0.5s ease-in-out;
}
.transition-1-linear {
  transition: all 1s linear;
}
.transition-1-eio {
  transition: all 1s ease-in-out;
}
